body{
    background-color: black;
    font-family: 'Finger Paint';
    color:darkcyan;
}

#menu{
    font-size: 1.3em;
}

#menu:hover ul li a{
    color:sandybrown;
}

#menu img{
    border-radius: 50%;
    box-shadow: 1px 1px 8px 1px darkcyan;
}

#head{
    background-image: url(../img/quitao.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
}

#biografia{
    background-image: url(../img/atv-rel.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    height:100%;
    margin-top: 5%;
    border-radius: 2%;
    transform: rotate(358deg) scale(1) skew(1deg) translate(0px);
    -webkit-transform: rotate(357deg) scale(1) skew(1deg) translate(0px);
    -moz-transform: rotate(357deg) scale(1) skew(1deg) translate(0px);
    -o-transform: rotate(357deg) scale(1) skew(1deg) translate(0px);
    -ms-transform: rotate(357deg) scale(1) skew(1deg) translate(0px);
}

#biografiaTexto{
    background: rgba(0, 0, 0, 0.8);
    padding:2%;
    margin:2%;
    border-radius: 2%;
    margin-top: 27%;
    
}

#conciertos{
    margin-top: 5%; 
}

.table tbody{
    background-image: url(../img/ladri.jpg);
    color: black;
    font-size: 1.5em;
}


#redes a{
    font-size: 1.3em;
    text-decoration: none;
    color:inherit;
}

#redes2 a img{
    width: 100px;
    height: 100px;
    border-radius: 25%;
    padding: 2%;
    margin-bottom: 2%;
}
#redes2 a img:hover{
    box-shadow: 1px 1px 8px 1px sandybrown ;
}

#redes a:hover{
    
    color:sandybrown;
}

#cookies{
    color:inherit;
    text-decoration: none;
}

#cookies:hover{
    color:sandybrown;
}

#comentarios{
    
}




/*Investigar*/
/*
.table tbody {
    background-color: white;
    background-image: url('http://4.bp.blogspot.com/-QxOBUinV_7o/UrDIPyySb3I/AAAAAAAAM5w/-rf_kptaxcQ/s1600/Seamless_White_Brick_Texture.jpg');
}
*/