<!DOCTYPE>
<html>
    <head>
        <title>Al Tiron</title>
    </head>
    <body>
        <ul>
            <li><a href="#">Gira</a></li>
            <li><a href="#">Miembros</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>
        <h1> Jumbotron Al Tiron </h1>
        <h2>Biografía</h2>
        <p>Biografía de la banda, sus inicios, como empezaron...</p>
        <h1>Aquí va la galería de imagenes</h1>
        <h1>IMAGENES DEL GRUPO</h1>

        <h2>Conciertos:</h2>
          <table>
            <tr>
                <th>Fecha</th>
                <th>Sala</th>
                <th>Ciudad</th>
                <th>Hora</th>
            </tr>
            <tr>
                <td>18/08/2020</td>
                <td>Detonante</td>
                <td>Santa Maria de benquerencia (Toledo)</td>
                <td>9:00</td>
            </tr>
            <tr>
                <td>18/08/2020</td>
                <td>Detonante</td>
                <td>Santa Maria de benquerencia (Toledo)</td>
                <td>9:00</td>
            </tr>
            <tr>
                <td>18/08/2020</td>
                <td>Detonante</td>
                <td>Santa Maria de benquerencia (Toledo)</td>
                <td>9:00</td>
            </tr>
        </table>
        <footer>
            <h2>Búscanos en redes sociales</h2>
            <ul>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Instagram</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Youtube</a></li>
            </ul>
        </footer>
        <p>Política de cookies</p>


    </body>
</html>
