<!DOCTYPE>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Al Tiron</title>
        <!-- Estilos -->
        <link href="https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="CSS/estilos.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" rel="stylesheet">

        <!-- Scripts -->
        <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        
        <script src="JS/externo.js"></script>

        <!--Favicon-->

        <link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">
        <link rel="manifest" href="img/site.webmanifest">
    </head>
    <body>
       
       <!-- BARRA DE MENÚ-->

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="menu">
            <a class="navbar-brand" href="#">
                <img src="img/disco.png" width="100" height="100" alt="" loading="lazy">
            </a>
            <a class="navbar-brand" href="#biografia">Al Tirón</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#conciertos">Gira <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#miembros">Miembros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contacto">Contacto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Discografía</a>
                </li>
                </ul>
            </div>
        </nav>

       <!--LOGOTIPO-->

        <div class="jumbotron jumbotron-fluid" id="head">
            <div class="container">
            </div>
        </div>  

        <!-- BIOGRAFÍA -->

        <div class="container">
            <div class="row">
	            <div class="col-sm-10">
	                <div class="card" style="width: 120%;">
                            <a name="biografia"></a>
                            <img src="img/all.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Biografía</h5>
                                <p class="card-text">AL TIRÓN es un grupo formado en Toledo, por músicos de varias bandas de la zona.</p>
                                <p>Graban una pequeña maqueta compuesta de 3 canciones grabadas por Ferdy (Atrankas, Kabalah) con 200 copias vendidas.</p>
                                <p>Por motivos laborales Rubén y Jimmy dejan la banda incorporandose asi David y Luisfer.</p>
                            </div>
                        
                    </div>
                </div>
            </div>
        
        <!--SLICE IMAGENES-->
       
        <div id="miembros"></div>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                <img src="img/grupo.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                <img src="img/pacto.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                <img src="img/lui.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                <img src="img/kami.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                <img src="img/julio.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                <img src="img/david.png" class="d-block w-100" alt="...">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

        <!--FECHAS CONCIERTOS-->

        <div id="conciertos">
        <a name="gira"></a>
        <h2>Conciertos:</h2>
        <hr/>

            <table class="table">
                <thead class="thead-dark">
                    <tr>
                    <th scope="col">Fecha</th>
                    <th scope="col">Sala</th>
                    <th scope="col">Ciudad</th>
                    <th scope="col">Hora</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">18/08/2020</th>
                        <td>Detonante</td>
                        <td>Santa Maria de benquerencia (Toledo)</td>
                        <td>9:00</td>
                    </tr>
                    
                    <tr>
                        <th scope="row">18/08/2020</th>
                        <td>Detonante</td>
                        <td>Santa Maria de benquerencia (Toledo)</td>
                        <td>9:00</td>
                    </tr>

                    <tr>
                        <th scope="row">18/08/2020</th>
                        <td>Detonante</td>
                        <td>Santa Maria de benquerencia (Toledo)</td>
                        <td>9:00</td>
                    </tr>
                      <tr>
                        <th scope="row">18/08/2020</th>
                        <td>Detonante</td>
                        <td>Santa Maria de benquerencia (Toledo)</td>
                        <td>9:00</td>
                    </tr>
                    
                    <tr>
                        <th scope="row">18/08/2020</th>
                        <td>Detonante</td>
                        <td>Santa Maria de benquerencia (Toledo)</td>
                        <td>9:00</td>
                    </tr>

                    <tr>
                        <th scope="row">18/08/2020</th>
                        <td>Detonante</td>
                        <td>Santa Maria de benquerencia (Toledo)</td>
                        <td>9:00</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!--CONTACTO-->

         <div id="contacto">
			<h2>Contacta con nosotros</h2>
			<hr/>
			<br/>
		</div>
        
       
		<div class="row">
			<div class="col-sm-4 offset-sm-1" id="redes">
                <h4>Contrataciones</h4>
                <br/>
				<p><i class="fab fa-whatsapp"></i> Teléfono: 617 049 522</p>
                <p><i class="fas fa-envelope-open-text"></i> E-mail: altironrock@hotmail.com</p>
                <br/>
                <h4>En Las Redes</h4>
                <br/>
				<a href="https://www.facebook.com/Al-Tir%C3%B3n-782330408445147/about/?ref=page_internal"><p><i class="fab fa-facebook"></i> Facebook</p></a>
				<a href="https://twitter.com/altiron_"><p><i class="fab fa-twitter"></i> Twitter</p></a>
                <a href="https://www.instagram.com/altiron_oficial/"><p><i class="fab fa-instagram"></i> Instagram</p></a>
                <a href="https://www.youtube.com/channel/UCH-bQp5x8pF8Q0ZKwIbYFWQ"><p><i class="fab fa-youtube-square"></i> Youtube</p></a>
			</div>
			<div class="col-sm-4 offset-sm-2" id="comentarios">
				<form>
                    <h4>Mándanos un mensaje</h4>
                    <br/>
					<label for="nombre">Nombre *</label>
					<input type="text" id="nombre" name="nombre" class="form-control" required>
					<label for="email">E-mail *</label>
					<input type="text" id="email" name="email" class="form-control" required>
                    <label for="asunto">Asunto</label>
					<input type="text" id="asunto" name="asunto" class="form-control">
					<label for="comentario">Mensaje </label>
					<textarea type="text" id="comentario" name="comentario" class="form-control" rows="5"></textarea>
					<br/>
					<button type="submit" class="btn btn-primary">Enviar</button>
					<button type="reset" class="btn btn-secondary">Cancelar</button>
				</form>
			</div>
		</div>
		
	   <!--COOKIES-->

        <p id="cookies">Política de cookies</p>


    </body>
</html>
